@using VTL_Web.Models.Masters;
@{
    ViewBag.Title = "PopularRecruitment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var noticeData = ViewData["NoticeData"] as List<NoticeModel>;
}
<script src="~/Scripts/Masters/noticeEntry.js"></script>
@*<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet" />*@
<link href="~/Content/css/design1.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

<section class="wrapper">
    <!--state overview start-->
    <div class="row state-overview">

        <div class="col-lg-12 col-sm-3">
            <section class="card">
                <div class="card-body left">
                    @*<a href="#myModal" data-toggle="modal" class="btn btn-sm btn-success" id="btnAddNotice">
            Add Notice
        </a>*@
                    @using (Html.BeginForm("PopularRecruitment", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="hidden" value="" name="hiddenPRID" />
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="exampleInputEmail1">Recruitment Name</label>
                                <input type="text" class="form-control" id="RecruitmentName" placeholder="Recruitment Name" name="RecruitmentName">
                            </div>
                            <div class="col-lg-6">
                                <label for="exampleInputEmail1">Recruitment Subject</label>
                                <textarea type="text" class="form-control" id="RecruitmentSubject" placeholder="Recruitment Subject" name="RecruitmentSubject"> </textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <label id="lblPublishDate" for="exampleInputPassword1">No Of Seat</label>
                                <input type="number" class="form-control" id="NoOfSeat" placeholder="No Of Seat" name="NoOfSeat">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                <label id="lblPublishDate" for="exampleInputPassword1">Start Date</label>
                                <input type="date" class="form-control" id="StartDate" placeholder="Start Date" name="StartDate">
                            </div>
                            <div class="col-lg-6">
                                <label id="lblPublishDate" for="exampleInputPassword1">End Date</label>
                                <input type="date" class="form-control" id="EndDate" placeholder="End Date" name="EndDate">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                <label>URL</label>
                                <div>
                                    <div class="custom-file">
                                        <input type="text" class="form-control" id="fileURL" placeholder="file link" name="fileURL">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="checkbox">
                            <label>
                                <input class="form-check-input" type="checkbox" id="Active" name="Active" checked> Active
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary" style="float:right;">Submit</button>
                    }
                </div>
            </section>
        </div>
    </div>
    <!--state overview end-->
</section>
<!--main content end-->

<script type="text/javascript">
    $(document).ready(function () {
        $('#customFile').on('change', function () {
            files = $(this)[0].files;
            name = '';
            for (var i = 0; i < files.length; i++) {
                name += '\"' + files[i].name + '\"' + (i != files.length - 1 ? ", " : "");
            } $(".custom-file-label").html(name);
        });


        const urlParams = new URLSearchParams(location.search);
        const noticeId = urlParams.get('PRId');
        if (noticeId != null && noticeId != undefined) {
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                //data: '{lookupTypeId: 0,lookupType: "UploadType" }',
                url: '/Admin/GetPRForEdit?PRId=' + noticeId,
                success: function (data) {
                    $('[name*=hiddenPRID]').val(data.Id);
                    $('[name*=RecruitmentName]').val(data.RecruitmentName);
                    $('#RecruitmentSubject').val(data.RecruitmentSubject);
                    $('#NoOfSeat').val(data.NoOfSeat);
                    $('#StartDate').val(formatDateyyyyMMdd(data.RecruitmentStartDate));
                    $('#EndDate').val(formatDateyyyyMMdd(data.RecruitmentEndDate));
                    $('#fileURL').val(data.fileURL != "null" ? data.fileURL : "");
                    $('#myModal').modal('show');
                    $('#Active').prop('checked', data.is_active)
                },
                failure: function (response) {
                    console.log(response);
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        }
    })
    function RemoveFile() {
        $('#customFile').removeClass('hidden');
        $('#customFile').parent().find('a').remove();
        $('#customFile').attr('required');
        $('[name*=postedFile]').removeAttr('disabled');
        return false;
    }
</script>
<style type="text/css">
    @@font-face {
        font-family: 'HindiFont';
        /*src: url('~/content/font/k010.ttf');*/
        src: url('<%= ResolveUrl("~/Content/font/k010.TTF") %>');
    }
    /* body
    {
        font-size: 20px;
    }*/
    .hindiFont {
        /* Assign the font*/
        font-family: 'HindiFont';
        font-size: 16px !important;
    }
</style>
<script type="text/javascript">
    $(function () {
        $('[id*=rblLanguage]').on("change", function () {
            var selected = $(this).val();
            var textBox = $('[id*=Subject]');
            if (selected == "Hindi") {
                $(textBox).addClass('hindiFont');
            }
            else {
                $(textBox).removeClass('hindiFont');
            }
        });
    });
</script>
