
@{
    ViewBag.Title = "AddDoctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/App/Masters/Doctors.js"></script>
<div class="row" style="margin-top:50px;">
    <div class="col-sm-12 col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Doctors List
            <div class="pull-right">
                <select class="form-control" style="display:none;" id="ddlDepartment">
                    <option value="">Select Department</option>
                </select>
            </div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover table-responsive text-center" id="doctorTable">
                    <thead>
                        <tr>
                            <th style="width:10%">Sr. No.</th>
                            <th name="DoctorName">Doctor</th>
                            <th name="DepartmentName">Departments</th>
                            <th style="width:20%">
                                <input type="button" class="btn btn-primary" onclick="doctor.addNew()" name="btnAdd" value="Add New Department" />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

