
@{
    ViewBag.Title = "AddDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <input type="text" name="deptName" class="form-control" value="" />
    </div>
    <div class="col-sm-12">
        <input type="submit" name="deptName" class="btn btn-primary" value="Save" />
    </div>
</div>

