
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-9" data-aos="zoom-in-down" data-aos-duration="1500">
            </div>
        </div>
    </div>
</section>


<div class="container mt-5">
    <div class="row">

        <div class="col-md-8">
            <h3 class="mb-2" style="color: #28406d">About Us...</h3>
            <div class="heading-image">
                <img src="~/Content/image/logo/div.png">
            </div>
            <p class="mb-3 mt-2" style="text-align: justify; ">Established in the year 2022, at <strong>Gudamba, Lucknow (U.P), India.</strong> We “Vanmadhuryam Testing Laboratory Private Limited.” Is leading material testing service providers. We are well recognised, professionally managed, quality certified testing laboratory located in Lucknow Uttar Pradesh. We are <strong>ISO 9001-2015 certified company and ISO/IEC 17025 -2017 Accredited Testing Laboratory by NABL vide Certificate number TC-12520</strong> in the disciplines of Chemical, Mechanical & NDT testing of various construction materials. We are services providing for Soil testing services, cement testing services, steel testing services, aggregates testing services, water testing services, Bricks Testing services, Paver block/AAC block/tiles testing services, Plate load testing services, Bridge load testing services, NDT testing services, core cutting and Testing services, Admixture test services, Bitumen and Bituminous mix etc.</p>

            <p class="mb-3" style="text-align: justify; ">We have well trained, qualified and experienced technical staff to takes utmost care for Testing of all parameters as per specifications. We are having advanced and digital equipment for high accuracy and to meet the client’s requirements and satisfaction. Our aim is to provide accurate, reliable testing services to our clients. We have been successfully served various clients across the country due to our prompt and timely delivery capabilities.</p>

        </div>



        <div class="col-md-4 mt-5 mb-4">
            <h5></h5>

            <div class="card">
                <img src="~/Content/image/bitumen-testing.jpg">

            </div>
        </div>
    </div>
</div>


<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="mb-2 mt-5" style="color: #28406d">Vision &amp; Mission...</h3>
                <div class="heading-image">
                    <img src="~/Content/image/logo/div.png">
                </div>
                <p class="mb-3 mt-2" style="text-align: justify; font-family:sans-serif;">Our aim is to provide accurate, reliable testing services to our clients. We have been successfully served various clients across the country due to our prompt and timely delivery capabilities.</p>
                <p class="mb-3 mt-2" style="text-align: justify; font-family:sans-serif;">Providing integrated business solutions for small to multinational companies that provide them fastest way to realize the full potential of their business.</p>

                <p class="mb-3 mt-2" style="text-align: justify; font-family:sans-serif;">To deliver superior range of testing services that meet the varied product testing requirements of our clients.</p>

            </div>
            <div class="col-md-4">
                <div class="missa_img mt-4">
                    <img src="~/Content/image/mission.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>    