
@{
    ViewBag.Title = "About_OrgStructure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">
            @Html.Partial("_About_SideMenu")

            <div class="col-lg-9 w_content pt-20 mt-0">
                <h2 class="w-bgph ">Organization Structure</h2>

                <!-- <center><iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=800 height=300 src="https://edrawcloudpublicus.s3.amazonaws.com/viewer/self/2859605/share/2022-11-30/1669827315/main.svg"></iframe></center>-->
                <center> <img src="~/Content/images/Org_chart.JPG" width="650" height="450" alt="Organization Chart"></center><br />
                <div class="clearfix"></div>
                <!--<h3 class="w-hd-u">Mission</h3>
    The distinctive mission of the University is:

    <ul class="w_ul">

        <li>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</li>
        <li>To take leadership role by providing need-based programs in engineering and technology, applied sciences, management, humanities, architecture, pharmacy, retail and fashion design, mass-communication, agriculture and other employable courses in emerging areas.</li>
        <li>To promote compassionate care of the highest quality that translates new knowledge into meaningful improvements in technological outcomes through interdisciplinary collaboration, fiscal responsibility, support of diversity, a focus on quality and a culture of professionalism.</li>
        <li>To establish value creating networks and foster relationship with other leading institutes of higher learning and research, alumni and industries in order to provide significant contribution to national and international development.</li>
        <li>To create an intellectually stimulating Infrastructure and conducive environment for technology research, scholarship, creativity, innovation, entrepreneurship, and professional activity for service to community and economy.</li>

    </ul><br>-->
                <!--<h3 class="w-hd-u">Core Values</h3>

    <ul class="w_ul">
        <li>Academic integrity</li>
        <li>Accountability with transparency, respect and tolerance for views of all stakeholders</li>
        <li>Concern for social responsibilities and attention to all national/international issues needing technological intervention</li>
        <li>Recognition of creativity and intellectual excellence</li>
        <li>Spirit of learning, exploration, innovation and enterprise</li>
        <li>All round understanding and knowledge of human sciences</li>
    </ul>
    <br>-->


                <div class="clearfix"></div>


            </div>

                <div class="clearfix"></div>
            </div>
    </div>
</section>
<script>

    $("#nav-btn").click(function () {
        $("nav1").toggle("slow");
    });


</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/About_Logo"]').parent().addClass('active')
    });
</script>