
@{
    ViewBag.Title = "CoarseAggregate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-9" data-aos="zoom-in-down" data-aos-duration="1500">
            </div>
        </div>
    </div>
</section>
<div class="container mt-5 mb-4">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mb-2" style="color: #28406d">Coarse & Fine Aggregate...</h3>
            <div class="heading-image">
                <img src="~/Content/image/logo/div.png">
            </div>
            <p class="mt-3" style="text-align: justify">We offer clients coarse aggregate analysis and testing service. This service allows us to successfully test and analyze different grades of coarse material in terms of sieve analysis, specific gravity, bulk density, moisture content, water absorption, impact and crushing value and others. The finer details of testing standards delivered by us include.</p>


            <table class="table table-bordered table-hover table-responsive-sm mt-5 mb-4">





                <tbody>
                    <tr>
                        <td class="bg-dark text-white">Product Type</td>
                        <td class="bg-dark text-white">Testing Standards</td>
                    </tr>
                    <tr>
                        <td>Sieve Analysis</td>
                        <td>IS:2386 (Pt 1):1997</td>
                    </tr>
                    <tr>
                        <td>Specific Gravity</td>
                        <td>IS:2386 (Pt.3):1997</td>
                    </tr>
                    <tr>
                        <td>Bulk Density</td>
                        <td>IS: 2386 (Pt.3)-1997</td>
                    </tr>
                    <tr>
                        <td>Moisture Content</td>
                        <td>IS:2386 (Pt.3) 1997</td>
                    </tr>
                    <tr>
                        <td>Water Absorption</td>
                        <td>IS:2386 (Pt.3) 1997</td>
                    </tr>
                    <tr>
                        <td>Impact Value</td>
                        <td>IS:2386 (Pt.4) 1997</td>
                    </tr>
                    <tr>
                        <td>Crushing Value</td>
                        <td>IS:2386 (Pt.4) 1997</td>
                    </tr>
                    <tr>
                        <td>Abrasion Value (Los Angeles)</td>
                        <td>IS:2386 (Pt.4) 1997</td>
                    </tr>
                    <tr>
                        <td>Flakiness Index</td>
                        <td>IS:2386(Pt.1):1997</td>
                    </tr>
                    <tr>
                        <td>Elongation Index</td>
                        <td>IS:2386 (Pt.1):1997</td>
                    </tr>
                    <tr>
                        <td>Soundness by:<br>Na2SO4. 10H2O<br>MgSO4 7H2O</td>
                        <td>IS:2386(Pt.5):1997</td>
                    </tr>
                    <tr>
                        <td>Stripping Value</td>
                        <td>IS:6241:1998</td>
                    </tr>
                    <tr>
                        <td>Chloride (water soluble)</td>
                        <td> ASTM-C 1218/ C 1218M:1997</td>
                    </tr>
                    <tr>
                        <td>Total Chloride (acid soluble)</td>
                        <td> ASTM-C 1152/ C 1152M:1997</td>
                    </tr>
                    <tr>
                        <td>Deleterious Material</td>
                        <td>IS:2386(Pt.2):1997</td>
                    </tr>
                    <tr>
                        <td>Alkali Aggregate Reactivity by Chemical Method</td>
                        <td>IS:2386 (Pt.7):1997<br>ASTM-C 289:1994</td>
                    </tr>
                    <tr>
                        <td>Complete analysis of Coarse Aggregate as per<br>IS:383: Including Alkali Aggregate Reactivity<br>Exclude Alkali Aggregate Reactivity</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Chloride Content</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Sulphate Content</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Drying Shrinkage (Prepared Sample)</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Drying Shrinkage (Un-Prepared Sample)</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Moisture Movement (Prepared Sample)</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Moisture Movement (Un-Prepared Sample)</td>
                        <td>&nbsp;</td>
                    </tr>

                    <tr>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>
</div>

