
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">
           
            @Html.Partial("_Contact_SideMenu")
            <div class="col-lg-9 w_content pt-20 mt-0">
                <h2 class="w-bgph "> Contact</h2>
                <hr>
                <div class="clr"></div>
                <h4 style="text-align: center">उत्तर प्रदेश पुलिस सेवा भर्ती एवं प्रोन्नति बोर्ड</h4>
                <h4 style="text-align: center">Uttar Pradesh Police Recruitment & Promotion Board</h4>
                <div class="clr"></div>
                <p style="text-align: center; width: 100%; font-size:18px;  line-height:35px;">

                    <b>Phone:</b> 0522-2235752<br>
                    <b>Fax:</b> 0522-2235806<br>
                    <b>सी० यू० जी०</b> 9454404786

                    <b>Email:</b> sampark@uppbpb.gov.in<br>

                </p>
                <hr>

            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</section>

<script>

    $("#nav-btn").click(function () {
        $("nav1").toggle("slow");
    });


</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/Contact"]').parent().addClass('active')
    });
</script>