
@{
    ViewBag.Title = "EnquiryForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">
            @Html.Partial("_Contact_SideMenu")

            <div class="col-lg-9 w_content pt-20 mt-0">
                <h2 class="w-bgph">Enquiry</h2>                
                    <hr>
                    <div class="clr"></div>
                    <h4 style="text-align: center">उत्तर प्रदेश पुलिस सेवा भर्ती एवं प्रोन्नति बोर्ड</h4>
                    <h4 style="text-align: center">Uttar Pradesh Police Recruitment & Promotion Board</h4>
                    <div class="clr"></div>
                    <p style="text-align: center; width: 100%; font-size:18px;  line-height:35px;">                        

                        <b>Kindly reach us through email Id:</b> sampark@uppbpb.gov.in<br>

                    </p>
                    <hr>

                </div>
                @*<center>
                    <div style="width: 600px; height:500px">
                        @using (Html.BeginForm("EnquiryForm", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="row">
                                <label class="required" for="name">Name:&nbsp;&nbsp;  </label><br />
                                <input id="name" class="input" onkeypress="return blockSpecialChar(event)" name="name" type="text" value="" size="30" /><br />
                                <span id="name_validation" class="error_message"></span>
                            </div><br />
                            <div class="row">
                                <label class="required" for="email">Mobile:&nbsp;&nbsp;  </label><br />
                                <input id="mobile" class="input" name="mobile" type="number" size="10" /><br />
                                <span id="email_validation" class="error_message"></span>
                            </div><br />
                            <div class="row">
                                <label class="required" for="email">Email Id:&nbsp;  </label><br />
                                <input id="email" class="input" name="email" type="text" value="" size="30" onkeypress="return blockXSSChar(event)"/><br />
                                <span id="email_validation" class="error_message"></span>
                            </div>
                            <div class="row">
                                <label class="required" for="address">Address:&nbsp;  </label>
                                <textarea id="address" class="input" name="address" onkeypress="return blockXSSChar(event)" rows="1" cols="30"></textarea><br />
                                <span id="message_validation" class="error_message"></span>
                            </div>
                            <div class="row">
                                <label class="required" for="subject">Subject:&nbsp;  </label>
                                <textarea id="subject" class="input" name="subject" rows="1" onkeypress="return blockXSSChar(event)"  cols="30"></textarea><br />
                                <span id="message_validation" class="error_message"></span>
                            </div>
                            <div class="row">
                                <label class="required" for="message">Message:&nbsp;  </label>
                                <textarea id="message" class="input" name="message" rows="3" onkeypress="return blockXSSChar(event)"  cols="30"></textarea><br />
                                <span id="message_validation" class="error_message"></span>
                            </div><br />
                            <input id="submit_button" type="submit" value="Submit" />
                        }

                    </div>
                </center>*@
                <hr>           

            <div class="clearfix"></div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/Administration"]').parent().addClass('active')
    });
    function blockSpecialChar(e) {
        var k;
        document.all ? k = e.keyCode : k = e.which;
        return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 || (k >= 48 && k <= 57));
    }
    function blockXSSChar(e) {
        var k;
        document.all ? k = e.keyCode : k = e.which;
        return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 || (k >= 48 && k <= 57)
            || k == 58 || k == 59 || k == 63 || k == 64 || (k >= 91 && k <= 96) || (k >= 123 && k <= 127)
            || (k >= 33 && k <= 47));
    }
    $('#mobile').keydown(function (e) {
        var max_chars = 10;
        if ($(this).val().length >= max_chars) {
            $(this).val($(this).val().substr(0, max_chars));
        }
    });

    $('#mobile').keyup(function (e) {
        var max_chars = 10;
        if ($(this).val().length >= max_chars) {
            $(this).val($(this).val().substr(0, max_chars));
        }
    });
</script>
<script>

    $("#nav-btn").click(function () {
        $("nav1").toggle("slow");
    });


</script>