
@{
    ViewBag.Title = "Hyperlink Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">

            @Html.Partial("_Policy_SideMenu")

            <div class="col-lg-9 w_content pt-20 mt-0">
                <h2 class="w-bgph ">Hyperlink Policy</h2>
                @*<img class="d-block w-100" src="~/Content/images/2.jpg" alt="UPPRPB">
        <br>
        <h3 class="w-hd-u">Privacy Policy</h3>*@
            <p style="text-align:justify">Prior permission is required before hyperlinks are directed from any website to this site. Permission for the same, stating the nature of the content on the pages from where the link has to be given and the exact language of the Hyperlink should be obtained by sending a request at Uttar Pradesh Police Recruitment and Promotion Board, Lucknow, Uttar Pradesh.</p>
                <br>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<script>

    $("#nav-btn").click(function () {
        $("nav1").toggle("slow");
    });


</script>
@*<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/About"]').parent().addClass('active')
    });
</script>*@