
@{
    ViewBag.Title = "MajorClients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-9" data-aos="zoom-in-down" data-aos-duration="1500">
            </div>
        </div>
    </div>
</section>
<div class="container mt-5 mb-4">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mb-2" style="color: #28406d">Clientele...</h3>
            <div class="heading-image">
                <img src="~/Content/image/logo/div.png">
            </div>


            <div class="container mt-4">



                <!--////////////////////////////  row--1  ///////////////////////////////-->

                <div class="row mt-5 mb-4">
                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/1.jpg" alt="" style="width:100%;">


                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/2.jpg" alt="" style="width:100%;">


                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/3.jpg" alt="" style="width:100%;">

                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/4.jpg" alt="" style="width:100%;">

                            </div>
                        </div>

                    </div>
                </div>

                <!--////////////////////////////  row--2  ///////////////////////////////-->


                <div class="row mt-5 mb-4">
                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/5.jpg" alt="" style="width:100%;">

                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/6.jpg" alt="" style="width:100%;">

                            </div>
                        </div>

                    </div>


                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/7.jpg" alt="" style="width:100%;">

                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/8.jpg" alt="" style="width:100%;">

                            </div>
                        </div>

                    </div>
                </div>


                <!--////////////////////////////  row--3  ///////////////////////////////-->



                @*<div class="row mt-5 mb-4">

                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/gail.jpg" alt="" style="width:100%;">

                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/hcc.jpg" alt="" style="width:100%;">

                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/hpwd.jpg" alt="" style="width:100%;">

                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/iap.jpg" alt="" style="width:100%;">


                            </div>
                        </div>

                    </div>
                </div>*@



                <!--////////////////////////////  row--4  ///////////////////////////////-->


                @*<div class="row mt-5 mb-4">
                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/jp.jpg" alt="" style="width:100%;">

                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/kadevi.jpg" alt="" style="width:100%;">

                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/ijm.jpg" alt="" style="width:100%;">


                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/jmc.jpg" alt="" style="width:100%;">

                            </div>
                        </div>

                    </div>
                </div>*@



                <!--////////////////////////////  row--5  ///////////////////////////////-->



                @*<div class="row mt-5">
                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/mrl.jpg" alt="" style="width:100%;">

                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/ncc.jpg" alt="" style="width:100%;">

                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/NDIAN_RAILWAY.jpg" alt="" style="width:100%;">

                            </div>
                        </div>

                    </div>


                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/mes.jpg" alt="" style="width:100%;">

                            </div>
                        </div>

                    </div>
                </div>*@


                <!--////////////////////////////  row--6  ///////////////////////////////-->



                @*<div class="row mt-5 mb-4">
                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/nhai.jpg" alt="" style="width:100%;">


                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/o1.jpg" alt="" style="width:100%;">


                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/pcl.jpg" alt="" style="width:100%;">

                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 card-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/clients/pg.jpg" alt="" style="width:100%;">

                            </div>
                        </div>

                    </div>
                </div>*@

            </div>





            <!--////////////////////////////  row--end  ///////////////////////////////-->


        </div>


    </div>
</div>
