
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 mb-4">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mb-2" style="color: #28406d">Testing Services...</h3>
            <div class="heading-image">
                <img src="~/Content/image/logo/div.png">
            </div>


            <div class="container mt-4">
                <!--/////////////////////////////////serv-crd row--1///////////////////////////////////-->

                <div class="row serv-crd mt-4 mb-5">
                    <div class="col-md-4 mt-2 card-serv-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/Services-Image/Building-Material.jpg" alt="" style="width:100%;">
                                <a href="building_material.html"><h6 class="card-title text-center mt-4 pt-2" style="font-size: 14px; "> Building Material </h6></a>


                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 mt-2 card-serv-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/Services-Image/Brik-Tiles.jpg" alt="" style="width:100%;">
                                <a href="brick_tile.html"><h6 class="card-title text-center mt-4 pt-2" style="font-size: 14px; ">    Brick, Tile & Marbles</h6></a>


                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 mt-2 card-serv-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/Services-Image/Calibration-Services.jpg" alt="" style="width:100%;">
                                <a href="calibration_testing.html"><h6 class="card-title text-center mt-4 pt-2" style="font-size: 14px; ">    Calibration Testing & Facilities</h6></a>


                            </div>
                        </div>

                    </div>
                </div>


                <!--/////////////////////////////////serv-crd row--2///////////////////////////////////-->

                <div class="row serv-crd mt-4 mb-5">
                    <div class="col-md-4 mt-2 card-serv-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/Services-Image/Road-Material.jpg" alt="" style="width:100%;">
                                <a href="road_material.html"><h6 class="card-title text-center mt-4 pt-2" style="font-size: 14px; "> Road Material Testing </h6></a>


                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 mt-2 card-serv-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/Services-Image/Coarse-Fine-Aggregate.jpg" alt="" style="width:100%;">
                                <a href="coarse_%26_fine_aggregate.html"><h6 class="card-title text-center mt-4 pt-2" style="font-size: 14px; ">    Coarse & Fine Aggregate</h6></a>


                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 mt-2 card-serv-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/Services-Image/Soil-Testing.jpg" alt="" style="width:100%;">
                                <a href="soil_testing.html"><h6 class="card-title text-center mt-4 pt-2" style="font-size: 14px; ">    Soil Testing & Geotechnical Investigation</h6></a>


                            </div>
                        </div>

                    </div>
                </div>


                <!--/////////////////////////////////serv-crd row--3///////////////////////////////////-->

                <div class="row serv-crd mt-4 mb-5">
                    <div class="col-md-4 mt-2 card-serv-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/Services-Image/Metal-Alloys.jpg" alt="" style="width:100%;">
                                <a href="metal_%26_alloys_testing.html"><h6 class="card-title text-center mt-4 pt-2" style="font-size: 14px; "> Metal & Alloys Testing </h6></a>


                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 mt-2 card-serv-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/Services-Image/Water-Testing.jpg" alt="" style="width:100%;">
                                <a href="water_testing_service.html"><h6 class="card-title text-center mt-4 pt-2" style="font-size: 14px; ">    Water Testing Serivce</h6></a>


                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 mt-2 card-serv-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/Services-Image/NSV.jpg" alt="" style="width:100%;">
                                <a href="nsv.html"><h6 class="card-title text-center mt-4 pt-2" style="font-size: 14px; ">    NSV(Network Vehicle Survey)</h6></a>


                            </div>
                        </div>

                    </div>
                </div>


                <!--/////////////////////////////////serv-crd row--1///////////////////////////////////-->

                <div class="row serv-crd mt-4 mb-5">
                    <div class="col-md-4 mt-2 card-serv-main">
                        <div class="card" style="box-shadow: 5px 5px 5px 5px gray">

                            <div class="card-body">
                                <img class="img-thumbnail image" src="~/Content/image/Services-Image/FWD.jpg" alt="" style="width:100%;">
                                <a href="fwd.html"><h6 class="card-title text-center mt-4 pt-2" style="font-size: 14px; "> FWD(Falling Weight Defiectometer Test) </h6></a>


                            </div>
                        </div>

                    </div>

                </div>

                <!--/////////////////////////////////serv-crd row--end///////////////////////////////////-->

                <div class=max>
                    <hr>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-4" style="border-right: 1px dotted;margin-bottom:25px;">
                            <ul>
                                <li>Video based classified traffic survey</li>
                                <li>ATCC based classfied traffic survey</li>
                                <li>Origin Destination and commodity Movement</li>
                                <li>Turning Mment Survey</li>
                                <li>Axle Load Survey</li>
                                <li>Safety Audit</li>
                                <li>Lidar Survey</li>
                            </ul>
                        </div>

                        <div class="col-md-4" style="border-right: 1px dotted;margin-bottom:25px;">
                            <ul>
                                <li>Plate Load test at site</li>
                                <li>Bridge Load Test at site</li>
                                <li>Pile integrity test at site.</li>
                                <li>Benkelman deflection test at site</li>
                                <li>Road roughness Test at site.</li>
                                <li>Rebound hammer test at site</li>
                                <li>Geo- Technical Investigation at site.</li>
                            </ul>
                        </div>

                        <div class="col-md-4">
                            <ul>
                                <li>Ultrasonic pulse Velocity test at site.</li>
                                <li>Environmental Impact Assessment at site.</li>
                                <li>Safety Review & Audit Test at site.</li>
                                <li>Visual & Physical test at site.</li>
                                <li>Cross- Section test at site</li>
                                <li>Pavement Composition test at site</li>
                                <li>Test Drive</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
