@using VTL_Web.Global
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>VTL: Vanmadhuryam Testing Laboratory Pvt. Ltd.</title>
    <meta name="robots" content="noindex">
    <meta name="description" content="We are well recognised, professionally managed, quality certified testing laboratory located in Lucknow Uttar Pradesh. We are ISO 9001-2015 certified company and ISO/IEC 17025 -2017 Accredited Testing Laboratory by NABL vide Certificate number TC-12520 in the disciplines of Chemical, Mechanical & NDT testing of various construction materials." />
    <meta name="author" content="VTL">
    <meta name="keywords" content="Soil testing services, cement testing services, steel testing services, aggregates testing services, water testing services, Bricks Testing services, Paver block/AAC block/tiles testing services, Plate load testing services, Bridge load testing services, NDT testing services, core cutting and Testing services, Admixture test services, Bitumen and Bituminous mix" />
    <link rel="icon" href="~/Content/image/favicon.ico" type="~/Content/image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="icon" href="images/tbs-favicon.html" type="~/Content/image/gif" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Francois+One|Viga" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/css/slick.css" />
    <link rel="stylesheet" href="~/Content/css/aos.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link href="../unpkg.com/aos%402.3.1/dist/aos.css" rel="stylesheet">
    <script src="../unpkg.com/aos%402.3.1/dist/aos.js"></script>
</head>
<body>
    <section class="folio2">
        <div class="container-fluid">
            <div class="row mt-0 mb-0 pb-0 pt-0" style="margin-right: 0px;">

                <div class="col-12">
                    <a href="#" class="text-white"><span class="mr-2 text-white icon-envelope-open-o"></span> <span class="d-none d-md-inline-block">kmp@vtlspectro.com, care@vtlspectro.com</span></a>
                    <span class="mx-md-2 d-inline-block"></span>
                    <a href="#" class="text-white"><span class="mr-2 text-white icon-phone"></span> <span class="d-none d-md-inline-block">+91 8423334316, 8423334317</span></a>


                    <div class="float-right">
                        <a href="#" class="text-white"><span class="mr-2 text-white icon-facebook"></span> <span class="d-none d-md-inline-block">Facebook</span></a>
                        <span class="mx-md-2 d-inline-block"></span>
                        <a href="#" class="text-white"><span class="mr-2 text-white icon-twitter"></span> <span class="d-none d-md-inline-block">Twitter</span></a>
                        <span class="mx-md-2 d-inline-block"></span>
                        <a href="#" class="text-white"><span class="mr-2 text-white icon-instagram"></span> <span class="d-none d-md-inline-block">Instagram</span></a>

                    </div>

                </div>

            </div>
        </div>
        </div>
    </section>
    <nav class="navbar navbar-expand-md bg-light navbar-dark sticky-top">
        <a class="navbar-brand text-dark font-weight-bold" href="index.html"><img src="~/Content/image/VANMADHURYAM TESTING logo.png" width="380px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav navbar-nav  ml-auto">
                <li class="nav-item">
                    <a class="nav-link txt-case1" href="index.html">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="about_us.html" style="text-transform: uppercase">About</a>
                </li>


                <li class="dropdown">
                    <a class="nav-link" href="services.html" class="dropdown-toggle" data-toggle="dropdown" role="button" style="text-transform: uppercase">Services   <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu mega-menu pl-0 ml-0">
                        <li class="menu-list">
                            <div class="row">
                                <div class="col-sm-4   pl-0 pr-0">
                                    <ul>
                                        <li><a class="nav-link" href="coarse_aggregate.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Coarse Aggregate</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Fine aggregates</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Bitumen </a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Bricks(Burnt clay &amp; flyash bricks)</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Paver Block</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Cement (OPC/PPC/PSC)</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Hardened concrete</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Fresh concrete </a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Flyash</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> AAC block</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Drinking water, Ground water & bore water </a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4  pl-0 pr-0">
                                    <ul>

                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Bitumen Emulsion</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Bituminous mix</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> GSB/WMM/WBM/Ballast</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Microsilica/Silica fume</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Cement concrete floor tiles</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Ceramic tiles/Pressed ceramic tiles (vitrified tiles)</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Chequered cement concrete tiles</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> HT strands </a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Reinforcement Steel</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Structural steel</a></li>


                                    </ul>
                                </div>
                                <div class="col-sm-4  pl-0 pr-0">
                                    <ul>
                                        <li><a class="nav-link" href="soil_testing.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Soil</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Bentonite</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Rebound hammer test</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Ultrasonic Pulse velocity test</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Carbonation test </a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Bridge/span Load test</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Plate Load test</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Dry Density by Core Cutter Method </a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Dry Density by Sand Replacement Method</a></li>
                                        <li><a class="nav-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Construction water</a></li>

                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>


                <li>
                    <a class="nav-link" href="accreditation.html" style="text-transform: uppercase">Accreditation &amp; Approvals</a>
                </li>



                <!-- <li class="dropdown">
                          <a  class="nav-link" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" style="text-transform: uppercase">NABL Scope  <i class="fa fa-caret-down"></i></a>
                          <ul class="dropdown-menu mega-menu pl-0 ml-0" style="width: 200px !important;;padding: 0px; margin-left: 0px !important;">
                              <li class="menu-list" style="width: 200px !important;">
                                  <div class="row" >
                                      <div class="col-sm-4pl-0 pr-0">
                                          <ul >

                                              <li><a  class="nav-link" href="testing_Scope.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Testing Scope</a></li>
                                               <li><a  class="nav-link" href="calibration_scope.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Calibration Scope</a></li>

                                          </ul>
                                      </div>


                                  </div>
                              </li>
                          </ul>
                      </li> -->

                <li class="dropdown">
                    <a class="nav-link" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" style="text-transform: uppercase">Clientele  <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu mega-menu pl-0 ml-0" style="width: 200px !important;;padding: 0px; margin-left: 0px !important;">
                        <li class="menu-list" style="width: 200px !important;">
                            <div class="row">
                                <div class="col-sm-4pl-0 pr-0">
                                    <ul>

                                        <li><a class="nav-link" href="major_clients.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Major Clients</a></li>
                                        <li><a class="nav-link" href="list_of_parties.html"><i class="fa fa-angle-right" aria-hidden="true"></i> List of Parties</a></li>

                                    </ul>
                                </div>


                            </div>
                        </li>
                    </ul>
                </li>

                <li>
                    <a class="nav-link" href="contact.html" style="text-transform: uppercase">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- Button trigger modal -->
    <!-- nav-- form -->

    @RenderBody()



    <!-- Footer-->
    <section class="footerbg">
        <div class="row pl-0 pr-0 mr-0 ml-0 footer"></div>
        <div class="container">
            <div class="col-sm-12 footer-bar">
                <div class="row">
                    <div class="col-md-4 col-sm-6 mt-4 footerblk2">
                        <div class="logo">
                            <img src="~/Content/image/VANMADHURYAM TESTING logo.png" alt="think-big-system" width="90%">
                        </div>
                        <br>
                        <ul class="list-unstyled">

                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; No-210, Gudamba Arjun Enclave, Lucknow, <br> &nbsp; &nbsp; &nbsp; Uttar Pradesh, India, 226021
                            </li>
                            <br>
                            <li>
                                <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; kmp@vtlspectro.com, care@vtlspectro.com

                            </li>
                            <br>
                            <li>
                                <i class="fa fa-phone-square" aria-hidden="true"></i> &nbsp;
                                +91 8423334316, 8423334317<br>
                            </li>
                            <br>

                            <!-- <li><i class="fa fa-volume-control-phone" aria-hidden="true"></i> &nbsp;
                               +(91)-(129)-2211344 /
                                  +(91)-(562)-6453238<br></li> -->
                        </ul>
                    </div>
                    <div class="col-md-5 col-sm-6 mt-4 footerblk3">
                        <h3 style="margin-left:150px ">Quick Links</h3>
                        <div class="line" style="margin-left: 150px"></div>
                        <br>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-unstyled">
                                        <li class="mb-2">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            &nbsp; <a href="index.html">Home</a>
                                        </li>
                                        <li class="mb-2">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            &nbsp; <a href="about.html">About Us</a>
                                        </li>
                                        <li class="mb-2">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            &nbsp; <a href="#">Services</a>
                                        </li>
                                        <li class="mb-2">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            &nbsp; <a href="#">Accreditation</a>
                                        </li>
                                        <li class="mb-2">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            &nbsp; <a href="#">Approvals</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-unstyled">
                                        <li class="mb-2">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            &nbsp; <a href="index.html">Quality Policy</a>
                                        </li>
                                        <li class="mb-2">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            &nbsp; <a href="about.html">NABL Scope</a>
                                        </li>
                                        <li class="mb-2">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            &nbsp; <a href="#">Clientele</a>
                                        </li>
                                        <li class="mb-2">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            &nbsp; <a href="#">Contact Us</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mt-4 mr-sm-hidden footerblk3">
                        <h3>Enquiry</h3>
                        <div class="line"></div>
                        <form action="#" class="pt-3 pb-3">
                            <div class="form-row">
                                <div class="form-group col-md-12 inputform">
                                    <input type="text" class="form-control" id="inputtext4" placeholder="Name">
                                </div>
                                <div class="form-group col-md-12 inputform">
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                </div>
                                <div class="form-group col-md-12 inputform">
                                    <input type="text" class="form-control" id="inputtext4" placeholder="Mobile">
                                </div>
                            </div>
                            <div class="form-group inputform">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="You Message Here..."></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btnf">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid text-center">
            <div class="row mr-0 ml-0">
                <div class="col-md-12 copyright pt-3">
                    <p>Copyright © Vanmadhuryam Testing Laboratory Pvt. Ltd. 2023 Powered By : <a href="http://techrefreshsolution.com/" target="_blank">TRS</a></p>
                </div>
            </div>
        </div>
    </section>



    <button type="button" class="btn btn-primary" id="bttop">
        <i class="fa fa-angle-up"></i>
    </button>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/popper.min.html"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/script.js"></script>
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/aos.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
</body>


</html>

<!--Scroll To Top-->
<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 150) {
                $('#bttop').fadeIn('slow');
            } else {
                $('#bttop').fadeOut('slow');
            }
        });
        $('#bttop').click(function () {
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });
    });
</script>

<!--Menu-->

<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 150) {
                $('.menuc').addClass('menu');
            } else {
                $('.menuc').removeClass('menu');
            }
        });
    });

</script>

<!--Testimonial-->
<script>
    $(document).ready(function () {
        $(".testimonial-carousel").slick({
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: false,
            arrows: true,
            prevArrow: $(".testimonial-carousel-controls .prev"),
            nextArrow: $(".testimonial-carousel-controls .next")
        });
    });
</script>

<script>
    AOS.init();
</script>

<script>
    var owl = $('.owl-carousel');
    owl.owlCarousel({
        items: 1,
        loop: true,
        margin: 5,
        autoplay: true,
        autoplayTimeout: 1000,
        autoplayHoverPause: true
    });
    $('.play').on('click', function () {
        owl.trigger('play.owl.autoplay', [1000])
    })
    $('.stop').on('click', function () {
        owl.trigger('stop.owl.autoplay')
    })
</script>

<script>
    // Get the video
    var video = document.getElementById("myVideo");

    // Get the button
    var btn = document.getElementById("myBtn");

    // Pause and play the video, and change the button text
    function myFunction() {
        if (video.paused) {
            video.play();
            btn.innerHTML = "Pause";
        } else {
            video.pause();
            btn.innerHTML = "Play";
        }
    }
</script>
<script>
    AOS.init();
</script>
<script>
    $('#blogCarousel').carousel({
        interval: 2000
    });
</script>




